@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/bg.svg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.glassmorphic {
  transform: translate3d(0, 0, 50px);
  transform-style: preserve-3d;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.72);
}

.card {
  transform: translate3d(0, 0, 50px);
  transform-style: preserve-3d;
  backdrop-filter: blur(3.8px);
}

.mobileCard {
  transform: translate3d(0, 0, 50px);
  transform-style: preserve-3d;
  backdrop-filter: blur(3.8px);
}

.ribbon {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */

  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
}
